@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

/* 배경색 */
.bg-primary {
  @apply bg-cyan-500 dark:bg-violet-950;
}

/* 보더 색상 */
.border-primary {
  @apply border-cyan-200 dark:border-violet-300;
}

/* 텍스트 색상 */
.text-primary {
  @apply text-cyan-400 dark:text-violet-500;
}
